@{
    ViewBag.Title = "Edit Person";
}
@model PersonUpdateRequest

<a class="link-hover" asp-controller="Persons" asp-action="Index">Persons</a>
<h>Person Edit</h>

<div class="container w-50">
    <form method="post" asp-controller="Persons" asp-action="Edit">
        <input type="hidden" asp-for="PersonId" />
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="@Model.PersonName" class="form-label pt"></label>
            </div>
            <div class="flex-1">
                <input asp-for="@Model.PersonName" class="form-input" />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="@Model.Email" class="form-label "></label>
            </div>
            <div class="flex-1">
                <input asp-for="@Model.Email" type="email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="@Model.DateOfBirth" class="form-label pt"></label>
            </div>
            <div class="flex-1">
                <input asp-for="@Model.DateOfBirth" type="date" class="form-input" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label ">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (var gender in genders)
                {
                    <input type="radio" asp-for="Gender" value="@gender" id="@gender" />

                    <label for="@gender"> @gender</label>


                }
                <br />
                <span asp-validation-for="Gender" class="text-red"></span>

            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CountryId" class="form-label ">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryId" class="form-input" asp-items="@ViewBag.Countries">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="CountryId" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label ">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="checkbox" asp-for="ReceiveNewsLetters" value="true" />
                <label asp-for="ReceiveNewsLetters" class="form-input"></label>
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25"></div>

            <div class="w-50">
                <button type="submit" class="button button-green-back">Update</button>
                <br />
                <div asp-validation-summary="All" class="text-red"></div>
                @*                @if (ViewBag.Errors != null)
                {
                <div class="text-red ml">
                <ul>
                @foreach (var item in ViewBag.Errors)
                {
                <li>@item</li>
                }
                </ul>
                </div>
                }*@
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" asp-fallback-test="window.jQuary" asp-fallback-src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/js/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/js/jquery.validate.unobtrusive.min.js"></script>
}