@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";
}

<div class="container">
    <a asp-controller="Persons" asp-action="PersonPDF" class="ml"><i class="bi bi-download"></i>PDF</a>
    <a asp-controller="Persons" asp-action="PersonsCsv" class="ml"><i class="bi bi-filetype-csv"></i>CSV</a>
    <a asp-controller="Persons" asp-action="PersonExcel" class="ml"><i class="bi bi-file-earmark-excel"></i></i>Excel</a>
    <form method="get"  asp-controller="persons" asp-action="index">
        <h2>Persons</h2>
        
        <div class="box flex">
            <div class="flex-1">
                <select class="form-input" name="searchBy">
                    @foreach (var item in ViewBag.SearchFields)
                    {
                        @if (item.Key == ViewBag.CurrentSearchBy)
                        {
                            <option selected value="@item.Key">@item.Value</option>
                        }
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                        
                    }
                </select>
            </div>
            <div class="flex-1">
                <input value="@ViewBag.CurrentSearchString" name="searchString" type="search" id="Search" class="form-input" placeholder="Search" />
            </div>
            <div class="flex-1">
                <button class="button button-blue-back" type="submit">Search</button>
                <a  asp-controller="Persons" asp-action="Index" class="link-hover">Clear All</a>
            </div>
        </div>
        <table class="table w-100 mt">
            <thead>
                <tr>
                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                        {"ColumnName",nameof(PersonResponse.PersonName)},
                        {"DisplayName","Name"}
                    })

                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.Email)},
                    {"DisplayName","Email"}
                    })

                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.Country)},
                    {"DisplayName","Country"}
                    })
                    
                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.Gender)},
                    {"DisplayName","Gender"}
                    })
                    
                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.DateOfBirth)},
                    {"DisplayName","Date Of Birth"}
                    })
                    
                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.Age)},
                    {"DisplayName","Age"}
                    })

                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                    {"ColumnName",nameof(PersonResponse.Address)},
                    {"DisplayName","Address"}
                    })
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:8%">@item.PersonName</td>
                        <td style="width:12%">@item.Email</td>
                        <td style="width:10%">@item.Country</td>
                        <td style="width:10%">@item.Gender.ToString()</td>
                        <td style="width:10%">@item.DateOfBirth?.ToString("dd MMMM yyyy")</td>
                        <td style="width:10%">@item.Age</td>
                        <td style="width:20%">@item.Address</td>
                        <td style="width:15%">
                            <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@item.PersonId"  class="button-blue-back"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="Persons" asp-action="Delete" asp-route-personId="@item.PersonId" class="button-red-back"><i class="bi bi-pencil-square"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
